src/main/mule/connection-pooling-with-hikari-lib-and-oracle-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="connection-pooling-with-hikari-lib-and-oracle-dbFlow_use-hikari" doc:id="2c499fe3-c172-4762-8912-b4fd376c9925" >
		<http:listener doc:name="Listener" doc:id="717bdf5a-a2e7-4732-a8e0-1777f3061e36" config-ref="HTTP_Listener_config" path="/use-hikari"/>
		<db:select doc:name="Select" doc:id="5a631e61-240e-409a-a79d-3387ca0fcdb9" config-ref="Database_Config_hikari">
			<db:sql ><![CDATA[SELECT PERSON_ID, USERNAME, NAME, SOCIAL_NAME, GENDER, MALE_NAME, FEMALE_NAME, BIRTH_DATE, CREATED_AT, UPDATED_AT FROM "C##USER_TEST".PERSON]]></db:sql>
		</db:select>
		<foreach doc:name="For Each" doc:id="09a83eb0-d5d0-490c-8f10-c86cdcd061fb" collection="#[payload]">
			<db:select doc:name="Select" doc:id="e8874816-a0f4-4f61-90bc-fafccf7f28bb" config-ref="Database_Config_hikari" >
				<db:sql ><![CDATA[SELECT PERSON_ID, USERNAME, NAME, SOCIAL_NAME, GENDER, MALE_NAME, FEMALE_NAME, BIRTH_DATE, CREATED_AT, UPDATED_AT FROM "C##USER_TEST".PERSON WHERE PERSON_ID = :PERSON_ID]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	"PERSON_ID": payload.'PERSON_ID'
}]]]></db:input-parameters>
			</db:select>
			<ee:transform doc:name="Transform Message" doc:id="1be67b60-84c0-4529-89c9-060c2f1e18a7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="9e9f97a7-a8eb-420c-986e-e1fc82622784" message="#[payload]" />
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="63b47a20-a3d6-4383-981e-8667d1448140" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': "Test ok"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b345ddf1-d489-465b-bd16-2bd5be6bfa66" >
				<ee:transform doc:name="Transform Message" doc:id="49dd72b2-31cd-4f73-8a16-4211e804c4c7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="connection-pooling-with-hikari-lib-and-oracle-dbFlow_not-use-hikari" doc:id="7d4bb5ab-8c7c-42c2-9cb6-47b50db00da5" >
		<http:listener doc:name="Listener" doc:id="ca305299-17c9-421d-96b3-6006ff1511ac" config-ref="HTTP_Listener_config" path="/not-use-hikari"/>
		<db:select doc:name="Select" doc:id="ef8fd7e0-b3bd-4bd7-ae04-b7a58dc944f1" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT PERSON_ID, USERNAME, NAME, SOCIAL_NAME, GENDER, MALE_NAME, FEMALE_NAME, BIRTH_DATE, CREATED_AT, UPDATED_AT FROM "C##USER_TEST".PERSON]]></db:sql>
		</db:select>
		<foreach doc:name="For Each" doc:id="d4bad9d7-d173-4a12-ac36-62d17a356f1f" collection="#[payload]" >
			<db:select doc:name="Select" doc:id="74e34729-23b9-433c-81b9-58fe34234a57" config-ref="Database_Config" >
				<db:sql ><![CDATA[SELECT PERSON_ID, USERNAME, NAME, SOCIAL_NAME, GENDER, MALE_NAME, FEMALE_NAME, BIRTH_DATE, CREATED_AT, UPDATED_AT FROM "C##USER_TEST".PERSON WHERE PERSON_ID = :PERSON_ID]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
	"PERSON_ID": payload.'PERSON_ID'
}]]]></db:input-parameters>
			</db:select>
			<ee:transform doc:name="Transform Message" doc:id="24d983a5-311c-41c6-81b9-5ce521c1b031" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="40243906-9e38-467c-b304-2454bd43ad92" message="#[payload]" />
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="7707c132-c72c-4a1d-87cc-ee9246a73312" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': "Test ok"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6958e9a0-75f4-4bfc-a944-d18c07944c82" >
				<ee:transform doc:name="Transform Message" doc:id="924b71d5-ac8b-4413-89d1-66b465d61907" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
